* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Portfolio container */


/* Header style */

header {
    outline: 1px solid ;
    height: 500px;
    background-color: #355665;
    color: white;
}

/* Nav bars */

nav {
    display: flex;
    /* outline: 1px solid red; */
    cursor: pointer;
    justify-content: flex-end;
    padding-bottom: 10px;
    font-size: 22px;
    gap: 1rem;
    padding-right: 60px;
    padding-top: 10px;
    background-color: #355665;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

/* My name and introduction */

.myname {
    /* outline: 1px solid ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-top: 20px;
}

.myname h2 {
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 15px;
}

/* About me */

.about {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

.about h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    color: #57C6F4;
}

.about p {
    margin-top: 20px;
}

.about button {
    width: 150px;
    margin-top: 20px;
    padding: 5px 0;
    font-size: 18px;
    background-image: linear-gradient(#B4C4CB, rgb(65, 125, 151));
    color: white;
    border: none;
    cursor: pointer;
}

/* Front-end Box */

.front-end-box {
    /* outline: 1px solid ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 90%;
    border-radius: 10px;
    border-top: 3px solid green;
    padding-bottom: 20px;
}

.front-end-box:hover {
    box-shadow: 0 20px 20px #88888888;
}

.front-end-box h2 {
    text-align: center;
    font-size: 37px;
    font-weight: 500;
}

.front-end-framework-icons img {
    /* outline: 1px solid ; */
    padding: 3px;
    border-radius: 4px;
}

.front-end-framework-icons img:hover {
    background-color: #262626;
}

/* Projects  */

.project {
    
    outline: 1px solid ;
    display: flex;
}

.projects h2 {
    color: white;
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 5px;
}

.api {
    text-align: center;
}

.mobile-projects {
    text-align: center;
    /* outline: 1px solid ; */
    height: 200px;
    width: 16%;
    padding-top: 5px;
    border-radius: 7px;
}

.mobile-projects:hover {
    box-shadow: 0 20px 20px #000000;
    cursor: pointer;

}

.mobile-projects p {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
}

.web-project {
    text-align: center;
    /* outline: 1px solid  red; */
    /* padding: 10px; */
    height: 200px;
    width: 15%;
    border-radius: 7px;
    padding-top: 5px;
}

.web-project:hover {
    box-shadow: 0 20px 20px #000000;
    cursor: pointer;
}

.web-project p {
    margin-top: 10px;
    font-size: 25px;
    color: white;
}

.project-icons {
    /* outline: 1px solid; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    background-color: #57c6f4;
    /* background-image: url(Project-background/JavaScript-Code-Editor-VS-Code.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Footer  */ 


.contact-me {
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    position: relative;
    padding-top: 40px;
    background-color: #262626;
    height: 300px;
}

.line-through {
    outline: 1px solid red;
    display: flex;
    justify-content: center;
    /* margin-bottom: 50px; */
    background-color: #262626;
} 

.line-through p {
    /* outline: 1px solid green; */
    margin-bottom: 50px;
    padding-top: 20px;
    width: 80%;
    text-align: center;
    /* background-color:  */
    border-top: 1px solid #57c6f4;
    color: #6C757D;
}

.contact-me-box {
    /* outline: 1px solid red; */
    display: flex;
    margin-top: 20px;
    gap: 5rem;
}

.contact-me h3 {
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
}

.contact-me p {
    color: #6C757D;
    margin-bottom: 8px;
}

.contact-me a {
    color: #6C757D;
    text-decoration: none;
}

.contact-me-icons {
    /* outline: 1px solid red; */
    width: 14%;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 20px;
}

.contact-me-icons div {
    display: flex;
    gap: 1rem;
}

/* Web.html style here */

.web-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* outline: 1px solid red; */
    margin-top: 20px;
    text-align: center;
}

.web-img img:hover {
    box-shadow: 0 20px 20px #000000;
}

.web-img p {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 32px;
    color: #57C6F4;
}

.web-img2 {
    text-align: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 60px;
    /* outline: 1px solid red; */
    padding-left: 60px;
}

.web-img2 img:hover {
    box-shadow: 10px 20px 20px #000000;
}

.web-img2 p {
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 32px;
    color: #57C6F4;
}

button {
    padding: 7px 10px;
    border-radius: 4px;
    border-color:  #262626;
    font-size: 18px;
    /* outline: 1px solid red; */
    color: white;
    background-color: #262626;
    cursor: pointer;
}

button:hover {
    background-color:#57C6F4;
    border-color: #57C6F4;
}

/* Phone.html Style here */

.phone-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* outline: 1px solid red; */
    margin-top: 40px;
    text-align: center;
}

.phone-img img:hover {
    box-shadow: 10px 20px 20px #000000;
}

.phone-img p {
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 32px;
    color: #57C6F4;
}

.phone-img2 {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    /* outline: 1px solid red;  */
     margin-top: 80px; 
    text-align: center; 
    margin-bottom: 60px;
}

.phone-img2 img:hover {
    box-shadow: 10px 20px 20px #000000;
}

.phone-img2 p {
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 32px;
    color: #57C6F4;
}


/* @MEDIAONLY SCREEN For Mobile Phones Only */
	@media only screen and (max-width: 600px) {
        
        /* Nav bars */

  nav {
    display: flex;
    /* outline: 1px solid red; */
    cursor: pointer;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 22px;
    gap: 1rem;
    padding-right: 60px;
    padding-top: 10px;
    background-color: #355665;
    color: white;
   }

   /* My name and introduction */

.name-of-dev {
    /* outline: 1px solid ; */
    text-align: center;
    margin-bottom: 8px;
    margin-top: 20px;
}

/* Projects  */

.project-icons {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #57c6f4;
    position: relative;
}

.web-project {
    text-align: center;
    /* outline: 1px solid  red; */
    margin-top: 90px;
    margin-bottom: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43%;
    border-radius: 7px;
    padding-top: 5px;
}

.mobile-projects {
    text-align: center;
    /* outline: 1px solid ; */
    height: 200px;
    width: 43%;
    padding-top: 5px;
    border-radius: 7px;
    margin-bottom: 20px;
}

.api h2 {
    /* color: red; */
        position: absolute;
        top: 0px;
        margin-bottom: 10px;
        right: 100px;
}

.api img{
    text-align: center;
    display: none;
}

.contact-me {
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-top: 40px;
    background-color: #262626;
    height: 300px;
    position: relative;
}
.contact-me-icons {
    /* outline: 1px solid red; */
    text-align: center;
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* margin-top: 60px; */
    position: absolute;
    bottom: 60px;
    right: 60px;
}

.contact-me-icons div {
    display: flex;
}

.contact-me-icons h3 {
    /* text-align: center; */
    font-weight: 10;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Web.html Style here  */


.web-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    /* outline: 1px solid red; */
    margin-top: 40px;
    text-align: center;
}

.web-img2 img:hover {
    box-shadow: 10px 20px 20px #000000;
}

.music-event img {
    padding-right: 50px;
    padding-left: 50px;
}

.fylo-page img {
    padding-right: 50px;
    padding-left: 50px;
}

.web-img2 {
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
}

.web-img2 img:hover {
    box-shadow: 10px 20px 20px #000000;
}

.Premium-invest img {
    padding-right: 50px;
    padding-left: 50px;
}


/* Phone.html Style here */

.phone-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    /* outline: 1px solid red; */
    margin-top: 40px;
    text-align: center;
    font-size: 47px;
}

.todo-app img {
    padding-right: 50px;
    padding-left: 50px;
}

.phone-img2 {
    display: flex;
    justify-content: center;
    font-size: 47px;
}

.budget-app img {
    padding-right: 50px;
    padding-left: 50px; 
}

.line-through p {
    /* outline: 1px solid green; */
    margin-bottom: 50px;
    margin-top: 70px;
    padding-top: 20px;
    width: 80%;
    text-align: center;
    /* background-color:  */
    border-top: 1px solid #57c6f4;
    color: #6C757D;
}

    /* Phone.html Media Only-Screen Here */

    

}